.statistics {
    margin: 40px auto;
    width: 350px;
    background-color: #fff;
    border-radius: 1%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
}

.stat-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}