.statistics {
    margin: 40px auto;
    width: 350px;
    background-color: #fff;
    border-radius: 1%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
}

.statList {
    display: flex;
    list-style: none;
    padding: 20px 0 0;
    margin: 0;
}

.item {
    padding: 10px 19px;
}