.transactionHistory {
    margin: 40px auto;
    background-color: #fff;
    border-radius: 1%;
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid rgb(221, 221, 221);
}

.transactionHistory thead {
    background: rgb(73, 197, 255);
    padding: 50px;
}

.transactionHistory th {
    text-transform: uppercase;
    color: #fff;
}

.transactionHistory th, .transactionHistory td {
    padding: 15px 120px;
    border-right: 1px solid #cecece;
}

.transactionHistory tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
  
.transactionHistory tbody tr:nth-child(even) {
    background-color: #dddddd;
}