.transaction-history {
    margin: 0px auto;
    background-color: #fff;
    border-radius: 1%;
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid rgb(221, 221, 221);
}

thead {
    background: rgb(73, 197, 255);
    padding: 50px;
}

th {
    text-transform: uppercase;
    color: #fff;
}

th, td {
    padding: 15px 120px;
    border-right: 1px solid #cecece;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #dddddd;
  }